<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="doggo-arm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00249907981257669 -9.32086720054057E-18 0.0175977932152876"
        rpy="0 0 0" />
      <mass
        value="0.203495112955171" />
      <inertia
        ixx="0.000104236274221787"
        ixy="-7.57035696608531E-21"
        ixz="-1.21477470405593E-05"
        iyy="0.000102511160792736"
        iyz="-3.8903958569594E-20"
        izz="0.000188052062438038" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doggo-arm/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doggo-arm/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-4.49093259224688E-17 2.09157702478247E-17 0.0231496201379514"
        rpy="0 0 0" />
      <mass
        value="0.323190291619555" />
      <inertia
        ixx="0.000175468537584274"
        ixy="5.68041470252415E-20"
        ixz="2.53808558676852E-20"
        iyy="0.000241585795015737"
        iyz="4.80231883225913E-20"
        izz="0.000184765235128091" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doggo-arm/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.650980392156863 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doggo-arm/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="-0.00712228407792315 0 0.0501530530529946"
      rpy="0 -0.141067714288093 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="1.83705706549575E-09 0.0201358287223158 -0.00684978768541665"
        rpy="0 0 0" />
      <mass
        value="0.767319525141475" />
      <inertia
        ixx="0.00124870326338724"
        ixy="-4.60347661063493E-11"
        ixz="5.22187652298749E-10"
        iyy="0.000522238333741946"
        iyz="-7.5612061144718E-07"
        izz="0.00165164652637645" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doggo-arm/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doggo-arm/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0.0564289864729904"
      rpy="1.5707963267949 0.141067714288093 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.0195583377309808 -4.9960036108132E-16 0.00157936478740285"
        rpy="0 0 0" />
      <mass
        value="0.0673455496116316" />
      <inertia
        ixx="1.52607787895724E-05"
        ixy="1.08874740070451E-21"
        ixz="-1.06633035176989E-05"
        iyy="0.000177274185951007"
        iyz="7.31641251803153E-22"
        izz="0.000185788072878409" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doggo-arm/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://doggo-arm/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 0.20548346 0"
      rpy="0 0 0.136006732773705" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>